<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chimdum Blog | <%= title %></title>
</head> -->

<%- include('../partials/head.ejs') %>

<body>
  
  <!-- <nav>
    <div class="site-title">
      <a href="">Chimdum Blog</a>
      <p>Chimdum Blogging Zone</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav> -->

  <%- include('../partials/nav.ejs') %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach((blog) =>{ %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3><%= blog.title %></h3>
          <p><%= blog.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>

  </div>

  <%- include('../partials/footer.ejs') %>

</body>
</html>